html, body {
  height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
body, h1, h2, h3, h4, h5, h6, p, label, div {
  font-family: 'VT323', monospace;
}
p, li {
  font-size: 18px;
}
a, a:visited {
  color: #a14b9e;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}
.navbar img {
  max-height: 75px;
}
.navbar-inverse {
	background-color: #a14b9e;
  border-color: #a14b9e;
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}

/* jumbotron */

.jumbotron {
  color: #000;
  background: #000;
  background-image: url("../img/nar-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.jumbotron-inner {
  background: rgba(255, 255, 255, .659999999999);
  border-radius: 5px;
  padding: 20px;
}

/* buttons */

a.btn-primary, .btn  {
  background: #a14b9e;
  color: #fff;
  border-color: #a14b9e;
}

/* Footer */

footer {
  background: #a14b9e;
  padding-top: 20px;
  margin-top: 20px;
}
footer a, footer a:visited, footer {
	color: #fff;
}
